{{ define "closesmene" }}

{{ template "header" }}

<main class="px-3">
    <br>
    <h2 style="color: red">СМЕНА ЗАКРЫТА</h2>

    <br>
    <form action="/open_smena" method="post">
        <input autofocus type="text" name="date" id="date" value="{{ .Date }}" class="btn btn-close-white">&nbsp&nbsp<button class="btn btn-warning">Открыть</button>
    </form>
    {{ if eq .Ok "err" }}
    <p><h3 style="color:red">Не коректная дата!</h3></p>
    {{ end }}
    <br>

</main>

{{ template "footer" }}

{{ end }}