{{ define "close" }}

{{ template "header" }}

<main class="px-3">
    <br>
    <h3 style="color:#a89d69">{{ .Date }}&nbsp&nbsp[{{ .TotalCount }}]</h3>
    <h2 style="color:#b1b1b1">{{ .TotalSum }}</h2>
    <hr>
    <h3>Наличные: {{ .NalSum }}р  ({{ .NalCount }} заказов)</h3>
    <h3 style="color:#ff6600">Терминал: {{ .TermSum }}р  ({{ .TermCount }} заказов)  </h3>
    <h3 style="color:#09b900">Онлайн: {{ .OnlineSum }}р  ({{ .OnlineCount }} заказов) </h3>
    <h3 style="color:#9900ff">Компания: {{ .KampSum }}р  ({{ .KampCount }} заказов) </h3>
    <hr>
    <br>
    <h4>Наличные+Терминал = {{ .NalTermCount }} заказов</h4>
    <div class="alert-danger">



    </div>

    <br>
    <form action="/smena_close_form" method="post">
        <input autofocus type="text" name="km" id="km" placeholder="km" autocomplete="off" class="btn btn-close-white">
        <input autofocus type="text" name="h" id="h" placeholder="часов" autocomplete="off" class="btn btn-close-white">
        <button class="btn btn-warning">Ok</button>
    </form>
    <br>

</main>

{{ template "footer" }}

{{ end }}