{{ define "footer" }}
<footer class="mt-auto text-white-50">
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Игра "Быки и коровы " </font></font>
        <a href="https://github.com/PavelZorin158/Bulls_cows_GO" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">на github</font></font></a>
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> от </font></font><a href="https://t.me/pasha_rick" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">t.me/pasha</font></font></a>
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
</footer>
</div>
</body>
</html>
{{ end }}