{{ define "index" }}

{{ template "header" }}

<main class="px-3">
    <br>
    <h3 style="color:#a89d69">{{ .Date }}&nbsp&nbsp[{{ .TotalCount }}]</h3>
    <h2 style="color:#b1b1b1">{{ .TotalSum }}</h2>
    <h3>{{ .NalSum }} <span style="color:#ff6600"> {{ .TermSum }} </span>
        <span style="color:#09b900"> {{ .OnlineSum }} </span>
        <span style="color:#9900ff"> {{ .KampSum }} </span></h3>
    <div class="alert-danger">

        <table align="center">

        {{ range .Order }}
        <tr>
            <td><h4>{{ .Num }}&nbsp&nbsp</h4></td>
        <td align="left">
        {{ if eq .Typ "o" }}
        <h4 style="color:#09b900">{{ .Order }}</h4>
        {{ end }}
        {{ if eq .Typ "n" }}
        <h4 style="color:#252930">{{ .Order }}</h4>
        {{ end }}
        {{ if eq .Typ "t" }}
        <h4 style="color:#ff6600">{{ .Order }}</h4>
        {{ end }}
        {{ if eq .Typ "k" }}
        <h4 style="color:#9900ff">{{ .Order }}</h4>
        {{ end }}
        </td>

        </tr>
        {{ else }}
            <p class="lead">Еще нет заказов.</p>
        {{ end }}
        </table>
    </div>

        <br>
    <form action="/addorder" method="post">
        <input autofocus type="text" name="in" id="in" placeholder="о 5.3 6" size="10" autocomplete="off" class="btn btn-close-white">&nbsp
        <button class="btn btn-warning">Ok</button>
    </form>
    <br>
    <a href="/smena_close" class="btn btn-secondary">Закончить смену</a>
    <br>
    <br>
</main>

{{ template "footer" }}

{{ end }}