{{ define "report" }}

{{ template "header" }}

<main class="px-3" xmlns="http://www.w3.org/1999/html">
  <br>
  <h3 style="color:#cfc482">{{ .UserName }}</h3>
  <h3 style="color:#a89d69">Отчет за {{ .Month }} месяц</h3>
  <h4 style="color:#a89d69">Выручка по кассе: {{ .TotalSum }}р. ({{ .TotalCount }} заказов)</h4>
  <hr>

  <div>
    <input type="checkbox" id="hd-1" class="hiden"/>
    <label for="hd-1"><h3>Наличные: {{ .NalSum }}р  ({{ .NalCount }} заказов)</h3></label>
    <div>
      <table align="center">
        {{ range .Nal }}
        <tr>
          <td align="left">{{ . }}</td>
        </tr>
        {{ else }}
        <p>Нет заказов.</p>
        {{ end }}
      </table>
    </div>
    </input>
    <br/>
  </div>

  <div>
    <input type="checkbox" id="hd-2" class="hidet"/>
    <label for="hd-2"><h3>Терминал: {{ .TermSum }}р  ({{ .TermCount }} заказов)</h3></label>
    <div>
      <table align="center">
        {{ range .Term }}
        <tr>
          <td align="left">{{ . }}</td>
        </tr>
        {{ else }}
        <p>Нет заказов.</p>
        {{ end }}
      </table>
    </div>
    </input>
  </div>

  <div>
    <input type="checkbox" id="hd-3" class="hideo"/>
    <label for="hd-3"><h3>Онлайн: {{ .OnlineSum }}р  ({{ .OnlineCount }} заказов)</h3></label>
    <div>
      <table align="center">
        {{ range .Online }}
        <tr>
          <td align="left">{{ . }}</td>
        </tr>
        {{ else }}
        <p>Нет заказов.</p>
        {{ end }}
      </table>
    </div>
    </input>
  </div>

  <div>
    <input type="checkbox" id="hd-4" class="hidek"/>
    <label for="hd-4"><h3>Компания: {{ .KampSum }}р  ({{ .KampCount }} заказов)</h3></label>
    <div>
      <table align="center">
        {{ range .Kamp }}
        <tr>
          <td align="left">{{ . }}</td>
        </tr>
        {{ else }}
        <p>Нет заказов.</p>
        {{ end }}
      </table>
    </div>
    </input>
  </div>
<hr>
  <p>
  <table align="center">
    <tr><td align="right"> Пробег :&nbsp</td><td align="left">{{ .Distance }} км&nbsp&nbsp({{ .PayDist }}р)</td></tr>
    <tr><td align="right"> Рабочее время :&nbsp</td><td align="left">{{ .Hours }} ч</td></tr>
    <tr><td align="right"> Смен :&nbsp</td><td align="left">{{ .Count }}</td></tr>
  <tr><td align="right"><h5 style="color:#ffd87d">чистый заработок :&nbsp</h5></td><td align="left">
    <h5 style="color:#ffd87d">{{ .Salary }} р&nbsp&nbsp<small>({{ .SalaryH }}р/ч)</small></h5></td></tr>
  </table>
<hr>
  <table align="center">
    <tr><td align="left"> РАСХОДЫ :&nbsp</td><td align="right"> Диспетчер &nbsp</td><td align="left">{{.ComDis}} р</td></tr>
    <tr><td></td><td align="right"> Перевозчик &nbsp</td><td align="left">{{ .ComPer }} р</td></tr>
    <tr><td></td><td align="right"><b> ИТОГО: &nbsp</b></td><td align="left"><b> {{ .ComSum }} р</b></td></tr>
    <tr><td></td><td align="right">------------------</td><td align="left">------------------</td></tr>

    <tr><td align="left"> ОПЛАЧЕНО :&nbsp</td><td align="right"> Терминалами &nbsp</td><td align="left">{{ .PayTerm }} р ({{ .TermSum }})</td></tr>
    <tr><td></td><td align="right"> Онлайнами &nbsp</td><td align="left">{{ .PayOnline }} р ({{ .OnlineSum }})</td></tr>
    <tr><td></td><td align="right"><b> ИТОГО: &nbsp</b></td><td align="left"><b> {{ .PaySum }} р</b></td></tr>
    <tr><td></td><td align="right">------------------</td><td align="left">------------------</td></tr>

    <tr><td align="left"> Я ДОЛЖЕН :&nbsp</td><td align="right"> {{ .ComSum }}-{{ .PaySum }}=</td><td align="left"><b>{{ .Balance }} р</b></td></tr>

  </table>
  </p>
</main>

{{ template "footer" }}

{{ end }}